@using Microsoft.AspNetCore.Identity

@using Asset.Data.Model;
@inject SignInManager<Patron> SignInManager
@inject UserManager<Patron> UserManager





<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - Management</title>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1/main.min.css" />

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    @*    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.google@*apis.com/css2?family=Inter:wght@100;400&display=swap"
              rel="stylesheet">*@



    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    *@
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1/main.min.css" />

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper mono-slim">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-inverse navbar-expand-sm navbar-toggleable-sm navbar box-shadow mb-3">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@

            @* @{
                    ((HoldHistoryController)this.ViewContext.ViewData.Model).GetNotif();
                }*@

            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {


                    <!--<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-danger navbar-badge">-->@* @await Component.InvokeAsync("NotifCount")*@
                        <!--</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-header">Book Notifications</span>
                                <div class="dropdown-divider"></div>
                                <a asp-action="Index" asp-controller="HoldHistory" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i>   new messages
                                    <span class="float-right text-muted text-sm">3 mins</span>
                                </a>
                                <div class="dropdown-divider"></div>

                                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>
                        </li>-->@if (User.IsInRole("Patron"))
                        {
                            <li class="nav-item">
                                <a asp-controller="HoldHistory" asp-action="MyListOfCheckout" class="nav-link">

                                    <i class="fa-solid fa-book fa-2x"></i>
                                    <span class="badge badge-danger navbar-badge">

                                    </span>
                                </a>
                            </li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-controller="HoldHistory" asp-action="AdminCheckoutView" class="nav-link">

                                    <i class="fa-solid fa-book fa-2x"></i>
                                    <span class="badge badge-danger navbar-badge">

                                    </span>
                                </a>
                            </li>
                        }


                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-comments"></i>
                                @*  <span class="badge badge-danger navbar-badge">
                                              @await Component.InvokeAsync("NotifCount")
                                    </span>*@
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <a asp-controller="HoldHistory" asp-action="Index" class="dropdown-item">
                                    Recently Checked in by
                                    <div class="dropdown-divider"></div>

                                    <div class="media">
                                        @*@await Component.InvokeAsync("NotifImage")*@

                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                @await Component.InvokeAsync("NotifName")

                                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                            </h3>
                                            <p class="text-sm">The system detects that Its your turn for the book...</p>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>LOOK AT IMMEDIATELY`</p>
                                        </div>
                                    </div>
                                    @*Message End*@
                                </a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                        <!-- Notifications Dropdown Menu -->

                        <li class="nav-item">
                            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                                <i class="fas fa-th-large"></i>
                            </a>
                        </li>

                    }

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Index" asp-controller="Home" class="brand-link">
                @*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">*@
                <span style="font-size:18px;" class="brand-text font-weight-light">Napico Library Management</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <partial name="_LoginPartial" />
                <hr />

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Patron"))
                            {
                                @*<li class="nav-item">
                    <a asp-area="" asp-controller="LibraryAsset" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Catalog
                        </p>
                    </a>
                </li>*@
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="HoldIndex" class="nav-link">
                                        <i class="nav-icon fas fa-history"></i>
                                        <p>
                                            My Hold
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="CheckRequestIndex" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>
                                            My Book Request
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="HoldHistory" asp-action="PatronCheckoutList" class="nav-link">
                                        <i class="nav-icon fas fa-history"></i>
                                        <p>
                                            Checked History List
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Patron" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>
                                            Patron
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Branch" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-school"></i>
                                        <p>
                                            Branches
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Penalty" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-ban"></i>
                                        <p>
                                            Penalties
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item text-danger">
                                    <a asp-area="" asp-controller="Penalty" asp-action="MyPenalty" class="nav-link">
                                        <i class="nav-icon fas fa-ban"></i>
                                        <p>
                                            My Penalties
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item text-danger">
                                    <a asp-area="" asp-controller="Topic" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>
                                            Library Catalog
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item text-danger">
                                    <a asp-area="" asp-controller="HoldHistory" asp-action="Index" class="nav-link">

                                        <i class="nav-icon fas fa-bell"></i>
                                        <p>
                                            My Notification
                                        </p>
                                        @await Component.InvokeAsync("NotifCount")
                                    </a>
                                </li>
                            }
                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-home"></i>
                                        <p>
                                            Catalog
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="AdminCheckRequest" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>
                                            Book Request
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Branch" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-school"></i>
                                        <p>
                                            Branches
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="CheckRequestAdminIndex" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>
                                            Book
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LibraryAsset" asp-action="AllHoldList" class="nav-link">
                                        <i class="nav-icon fas fa-folder"></i>
                                        <p>
                                            Reserve
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Patron" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>
                                            Patron
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Penalty" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-ban"></i>
                                        <p>
                                            Penalties
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="HoldHistory" asp-action="ReserveUser" class="nav-link">
                                        <i class="nav-icon fas fa-user-clock"></i>
                                        <p>
                                            Reserve Patron
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item text-danger">
                                    <a asp-area="" asp-controller="Topic" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>
                                            Library Catalog
                                        </p>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="conten-wrappert">
                <div class="container-fluid">
                    @RenderBody()
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>

        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Styled by <a href="https://adminlte.io">AdminLTE.io</a>
            </div>
            <!-- Default to the left -->
            <strong>@DateTime.Now.ToLongDateString() Core Leave Management System.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    @*    <script type="text/javascript" src="~/lib/select2/js/select2.full.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1"></script>
        <script type="text/javascript" src="~/js/notify.min.js"></script>
        <script src="~/js/script-custom-calendar.js"></script>
        <script src="~/js/script-attendance.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@

    <script type="text/javascript" src="~/lib/select2/js/select2.full.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1"></script>
    <script type="text/javascript" src="~/js/notify.min.js"></script>
    <script src="~/js/script-custom-calendar.js"></script>



    <!--<script src="plugins/chart.js/Chart.min.js"></script>
    <script src="plugins/chart.js/Chart.js"></script>
    <script src="plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="plugins/chart.js/Chart.bundle.js"></script>



    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/adminlte.js"></script>

    <script src="plugins/chart.js/Chart.min.js"></script>
    <script src="dist/js/demo.js"></script>-->
    @*    <script src="dist/js/pages/dashboard3.js"></script>*@
    <!--<script src="dist/js/pages/dashboard.js"></script>-->


    @RenderSection("Scripts", required: false)
</body>
</html>
