@using Microsoft.AspNetCore.Identity

@using Asset.Data.Model;
@inject SignInManager<Patron> SignInManager
@inject UserManager<Patron> UserManager

<ul class="nav nav-pills nav-sidebar flex-column">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white">
                <i class="fas fa-user-alt"></i>
                <p>@User.Identity.Name!</p>
            </a>
        </li>
        <li class="nav-item">
            <form class="nav-link" asp-controller="Account" asp-action="Logoff">
                <i class="fas fa-sign-out-alt"></i>
                <input class="bg-transparent text-white" type="submit" value="Logout" />
            </form>
        </li>
    }
    else
    {
        <li class="nav-item active">

            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <i class="fas fa-registered"></i>
                <p>Register</p>
            </a>
        </li>
        <li class="nav-item active">

            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <i class="fas fa-user"></i>
                <p>Login</p>
            </a>
        </li>
    }
</ul>